* {
  /* Le proprietà width e height includono contenuto, padding e bordo */	
  box-sizing: border-box; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #daeef5;
}

/* Stile per il tag header */
header {
  background-color: blue;
  padding: 10px 10px 10px 10px;
  text-align: center;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white
}

#contenitore {
	width: 100%;
	margin-bottom: 0px;
}

nav {
  text-align: center;
  color: white;
}

/* Stile della lista nel menu di navigazione */
nav ul {
  list-style-type: none;
  background: blue;
  margin: 0;
  padding: 5px;
}

nav li{
	width: 25%;
	padding:0 12.5px;
	display: inline;
	border-right: 1px solid white;
}
nav li:last-child {
  border-right: none;
}
nav li a{
  color: white;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

section {
  padding: 10px 10px 10px 10px;
  width:100%;
  background-color: #daeef5;
}

/* Crea 3 colonne uguali affiancate (float) */
.colonna {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Alla fine dobbiamo eliminare l'affiancamento (il float) */
section:after {
  content: "";
  display: table;
  clear: both;
}

section article img{
	display: block; 
	width: 80%; 
	margin-left: auto; 
	margin-right: auto;
}

section img{
	display: block;
	width: 10%;
	margin-left: auto; 
	margin-right: auto;
	padding-bottom: 10px
}

section h1{
	text-align: center;
	color: darkblue;
}

/* Stile del footer */
footer {
  background-color: blue;
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
  border-top: 1px solid white;
}

/*linea sotto i titoli delle sezioni*/
.colonna a h2{
	width: 100%;
	border-bottom: 1px solid blue;
	text-align: center;
	color: darkblue;
	
}

.colonna a{
	color: blue;
	text-decoration: none;
}

.contenuto{
	color: darkblue;
}
h1{
	margin: 0;
	padding: 10px 0;
}

p ul li{
	color: white;
}


/*Stile per il resposive*/
@media only screen and (max-width: 600px) {
	
	section img{
		display: block;
		width: 40%;
		margin-left: auto; 
		margin-right: auto;
		padding-bottom: 10px;
	}
	
	.colonna {
	  float: left;
	  width: 100%;
	  padding: 10px;
	}
	
}